{% extends 'layout.html' %}
{% block title %}Contact Page{% endblock %}

{% block content %}

<main role="main">
    <!-- Three columns of text below the carousel -->
    <!-- <div class="collapse bg-dark" id="navbarHeader"> -->
        <div class="container">
          
              <h4 class="text-white text-center">A propos</h4>
              <p class="text-muted">Le problème du voyageur de commerce (TSP) est un problème d'optimisation combinatoire largement étudié, qui, étant donné un ensemble de villes et un coût pour se déplacer d'une ville à l'autre, cherche à identifier la tournée qui permettra à un vendeur de visiter chaque ville une seule fois, commençant et se terminant dans la même ville, au moindre coût.</p>
        </div>
      <!-- </div> -->
    <div class="row">
    <div class="col-lg-4 ms-5 ps-5">
        <img class="rounded-circle" src="../static/images/tp_1_20.jpg" width="140" height="140">
        <h2>Taha-Amine</h2>
        <p>étudiant de master à Institut National de Statistique et d'Economie Appliquée.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 ms-5 ps-5">
        <img class="rounded-circle" src="../static/images/hp.jpg" width="140" height="140">
        <h2>Hamza</h2>
        <p>étudiant de master à Institut National de Statistique et d'Economie Appliquée.</p>
    </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</main>
{% endblock %}